.navbar{
    border: 0px solid black;
    background-color:#0a438b;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo{
    width: 30%;
    display: flex;
    border: 0px solid white;
    justify-content:space-between;
    align-items: center;
}
#logo>img{
    width: 35%;
    height: 95%;
}
#logo>p{
    margin-right: 150px;
    color: white;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#menuBar{
    width:30%;
    border: 0px solid white;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#menuBar>p{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size:15px;
    line-height: 18px;
    font-weight: 500;
    cursor: pointer;
}
#menueTitle{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size:15px;
    line-height: 18px;
    font-weight: 500;
    cursor: pointer;
}
#menutravel{
    border: 0px solid black;
    margin-right:200px ;
}
#menuDiv{
    display: flex;
    gap: 20px;
}
#menuDiv>p{
    font-size: 14px;
}
#menuDiv:hover{
   color:#84b61f;
}
#popOverSignin{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}